SmartAlex_Demo_Tests/demo02_USGS_water_data_import/flow_json.txt
 [ { "id": "1b4290dc.7a1bdf", "type": "inject", "z": "4c2f7bfe.33f2a4", "name": "Hourly Trigger", "props": [], "repeat": "3600", "crontab": "", "once": true, "onceDelay": 0.1, "topic": "", "x": 110, "y": 100, "wires": [["5467ccef.6c3f94"]] }, { "id": "5467ccef.6c3f94", "type": "http request", "z": "4c2f7bfe.33f2a4", "name": "Get USGS Data", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "https://waterservices.usgs.gov/nwis/iv/?format=json&sites=03011800&parameterCd=00065,00060&siteStatus=all", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 300, "y": 100, "wires": [["816c76a8.f79c28"]] }, { "id": "816c76a8.f79c28", "type": "function", "z": "4c2f7bfe.33f2a4", "name": "Prepare InfluxDB Payload", "func": "var level = msg.payload.value.timeSeries[0].values[0].value[0].value;\nvar flow = msg.payload.value.timeSeries[1].values[0].value[0].value;\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"text/plain\" };\nmsg.payload = `usgs_data,station_id=03011800 level=${level},flow=${flow}`;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 520, "y": 100, "wires": [["9e5ed59c.17d7a8"]] }, { "id": "9e5ed59c.17d7a8", "type": "http request", "z": "4c2f7bfe.33f2a4", "name": "Write to InfluxDB", "method": "POST", "ret": "txt", "paytoqs": "ignore", "url": "http://localhost:8086/write?db=usgs", "tls": "", "persist": false, "proxy": "", "authType": "", "senderr": false, "x": 750, "y": 100, "wires": [["ebc4c5c1.1f3688"]] }, { "id": "ebc4c5c1.1f3688", "type": "debug", "z": "4c2f7bfe.33f2a4", "name": "InfluxDB Response", "active": true, "tosidebar": true, "complete": "true", "x": 960, "y": 100, "wires": [] } ]